:root {
    // colors
    --clr-primary-violet:263,55%,52%;
    --clr-primary-blue-100:217,19%,35%;
    --clr-primary-blue-200:219,29%,14%;
    --clr-white:0,0%,100%;

    --clr-neutral-100:210,46%,95%;
    --clr-neutral-200:0,0%,81%;

    // fonts
    --fw-100:500;
    --fw-200:600;

    --fs-100: 0.6875rem;
    --fs-200: 0.8125rem;
    --fs-300: 1.25rem;

    --ff-sans: 'Barlow Semi Condensed', sans-serif;
}